@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for dark mode */
body {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}/* Animasyonlar için gerekli CSS */
@keyframes slideUpCubicBezier {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUpCubicBezier {
  animation: slideUpCubicBezier 1s cubic-bezier(0.68, -0.55, 0.27, 1.55)
    forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in forwards;
}
